{% extends 'base.html.twig' %}

{% block title %} - Profil{% endblock %}

{% block body %}
<section id="user_profile">
    <div class="container rounded bg-white">
        <div class="row">
            {% include ('user/components/nav.html.twig') %}
            {% include ('user/components/infos_profile.html.twig') %}
            {% include ('user/components/edit_address.html.twig') %}
        </div>
        {% include ('user/components/modal_form_address.html.twig') %}
</section>
{% endblock %}
{% block javascript %}
<script src="{{ asset('assets/js/user_profile.js')}}"></script>
{% endblock %}